<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508292016469-3bgsodp765r6adlbo96h4f9os1tuu08n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508292016469-3bgsodp765r6adlbo96h4f9os1tuu08n</string>
	<key>API_KEY</key>
	<string>AIzaSyB09U4BMSTz6t_C-tzH3iRbcBNHOrj-y-0</string>
	<key>GCM_SENDER_ID</key>
	<string>508292016469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AURORABOREALIS.Aurora</string>
	<key>PROJECT_ID</key>
	<string>aurora-519ef</string>
	<key>STORAGE_BUCKET</key>
	<string>aurora-519ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508292016469:ios:14bdc56017b839c367a7dc</string>
</dict>
</plist>